body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(167, 76, 16);
  background-image: url(https://thumbs.dreamstime.com/b/toast-background-food-abstract-texture-34625229.jpg);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
    border: 5px solid white;
}

.positionable-container{
  position: relative;
}

.positionable-item {
  position: absolute;
}

.cell-corner {
  border-radius: 1000px;
}

.cell-edge {
    border-radius: 1000px;
}

.cell-body {
    /* background-image: url(imgs/jelly_bg4.png); */
    background-size: cover;
}
